<style>
  .name {color: black;
  size: 10;
  font-family: Arial;}
  .address {size:5;
  }
  body {background-image: url("rovicabaquita.github.io/8a9c524a588a53bcab4e6ba9ec5e1f24--fox-pastel-space-aesthetic.jpg");
  font-family: Arial;
  color: black;
  }
  .bullet {list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #D4E6F1;
  font-family: Arial;
  font-size: 20px;
  overflow: hidden;
  }
  .center {text-align:center;
  }
  .head {display: inline;
  color: black;
  text-align: center;
  padding: 10px 20px;
  float: left;
  font-size: 20px;
  }
div.a {
  line-height: normal;
}
  p {margin: 0;
  }
  a {
  text-decoration: none;
  }
  a:link {
  color: black
  }
  a:visited {
  color: black
  }
  a:active {
  color: black
  }
  li {
  color: black
  }
</style>
